#start-btn {
    background-color: #574cd4;
    border-radius: 25px;
    padding: 7px 31px;
    font-weight: 600;
    letter-spacing: 1px; 
    box-sizing: border-box;
    width: 104px;
}

#start-btn:focus {
    box-shadow: none;
}
