@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App {
    font-family: 'Roboto', sans-serif;
}

.stopwatch {
    font-size: 50px;
    line-height: 1;
}

.laptime {
    font-size: 25px;
    height: 35px;
}

.first-view {
    height: 100vh;
}

.height-first-v {
    height: 50%;
}

#second-view-row {
    height: 100vh;
    width: 70%;
}

.height-second-v {
    height: 50%;
    overflow: auto;
}


@media (min-width: 2000px){
    .height-first-v {
        height: 35%;
    }

    .height-second-v {
        height: 35%;
    }
}

@media (min-width: 1440px) and (max-width: 1999px){
    .height-first-v {
        height: 40%;
    }

    .height-second-v {
        height: 40%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    #second-view-row {
        width: 95%;
    }
}

@media (max-width: 767px){
    .height-first-v {
        height: 75%;
    }
    
    .height-second-v {
        height: 75%;
    }

    #second-view-row {
        width: 95%;
    }
}