@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App {
    font-family: 'Roboto', sans-serif;
}

.stopwatch {
    font-size: 50px;
    line-height: 1;
}

.laptime {
    font-size: 25px;
    height: 35px;
}

.first-view {
    height: 70vh;
}

.start-button {
    margin-top: 150px;
}

#second-view-row {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.margin-right-35 {
    margin-right: 70px;
}

.margin-top-150 {
    margin-top: 150px;
}

.table-container {
    width: 657px;
    width: 467px;
    box-sizing: border-box;
    overflow: auto;
}

.right-border {
    border: 1px red solid;
}

@media (min-width: 320px) and (max-width: 570px) {
   #table {
       font-size: 14px; 
       margin-top: 30px;
   }

   .margin-top-150 {
        margin-top: 120px;
    }

    #top-section {
        margin-top: 25px;
    }
}