.table-header {
  letter-spacing: 1px;
  border-bottom: 1px #c0c0c0 solid;
}

.table-body {
  overflow: auto;
}

.padding-right-48 {
  padding-right: 48px;
  padding-bottom: 11px;
}

.padding-top-16 {
  padding-top: 17px;
}

.padding-left-60 {
  padding-left: 61px;
}

.padding-left-80 {
  padding-left: 75px;
}

@media (max-width: 767px) {
  .padding-right-48 {
    padding-right: 13px;
  }

  .padding-left-60 {
    padding-left: 28px;
  }

  .padding-left-80 {
    padding-left: 40px;
  }
}
